# Chave secreta do Django
DJANGO_SECRET_KEY=pedagogia_formatura_2027_secreto_abc123

# Configurações do Banco de Dados (Usando SQLite padrão no PythonAnywhere)
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=