{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'loja:grafico_logs' %}" class="addlink" target="_blank">
            Ver Gráfico
        </a>
    </li>
    <li>
        <form method="post" action="{% url 'admin:limpar_logs' %}">
            {% csrf_token %}
            <button type="submit" class="button" style="background-color: #ba2121; color: white;">
                Limpar Todos os Logs
            </button>
        </form>
    </li>
    {{ block.super }}
{% endblock %} 